<%= form_for userarchivment, :url => update_userarchivment_archiv_path, :remote => true, :html => {:multipart => true, :id => "update_image_form"} do |f| %>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p>
  <p><%= f.submit %></p>
<% end %>
