<div>
  <% if @user_archivment_status %>
    <h2>Du hast diesen Erfolg abgeschlossen.</h2>
  <% else %>
    <h2>Du kannst diesen Erfolg noch verdienen.</h2>
  <% end %> 
</div>

<div class="archiv-basics">
  <p>
    <b>Name:</b>
    <%= @archiv.name %>
  </p>

  <p>
    <b>Kategorie:</b>
    <%= @archiv.category %>
  </p>

  <p>
    <b>Bedingungen:</b>
    <%= @archiv.terms %>
  </p>

  <p>
    <b>Beispiel Link:</b>
    <%= @archiv.example_link %>
  </p>

  <p>
    <b>Punkte:</b>
    <%= @archiv.points %>
  </p>
</div>

<% if @user_archivment_status %>
  <div id="raitings">
    <%= render :partial => "archivs/ratings", :locals => { :vote => @vote } %>
  </div>
<% end %>

<br>

<%= link_to 'Zurück', user_path(current_user) %>
