<div>
  <% if @user_archivment_status == "done" %>
    <h2>Du hast diesen Erfolg abgeschlossen.</h2>
  <% elsif @user_archivment_status == "recommended" %>
    <h2>Du kannst diesen Erfolg noch abschließen.</h2>
  <% elsif @user_archivment_status == "need_vote" %>
    <h2>Die Abstimmung, ob du diesen Erfolg abgeschlossen hast, läuft.</h2>
  <% end %> 
</div>

<div class="archiv-basics">
  <p>
    <b>Name:</b>
    <%= @archiv.name %>
  </p>

  <p>
    <b>Kategorie:</b>
    <%= @archiv.category %>
  </p>

  <p>
    <b>Bedingungen:</b>
    <%= @archiv.terms %>
  </p>

  <p>
    <b>Beispiel Link:</b>
    <%= @archiv.example_link %>
  </p>

  <p>
    <b>Punkte:</b>
    <%= @archiv.points %>
  </p>

  <div id="archiv-image">
    <% if @userarchivment && @userarchivment.image.present? %>
      <p>
        <b>Dein Bild zum Erfolg:</b>
        <div>
          <%= image_tag @userarchivment.image_url(:thumb) %>
        </div>
      </p>
    <% end %>
  </div>

</div>

<% if @user_archivment_status == "need_vote" && @userarchivment.image.blank? %>
  <div class="archiv-image-upload">
    <%= render :partial => "archivs/image_upload", :locals => { :userarchivment => @userarchivment } %>
  </div>
<% end %>

<% if @user_archivment_status == "need_vote" || @user_archivment_status == "done" %>
  <div id="raitings">
    <%= render :partial => "archivs/ratings", :locals => { :vote => @vote } %>
  </div>
<% end %>

<br>

<% if @user_archivment_status == "recommended" %>
  <%= link_to 'Vote-Freischaltung für diesen Erfolg', create_userarchivment_archiv_path %><br>
<% end %>
<%= link_to 'Zurück', user_path(current_user) %>
