<% title "User Streams" %>

<div class="stream-header">
  <h1>Vote Erfolge anderer</h1>
</div>

<hr>

<div class="stream-basics">
  <p>
    <b>Name:</b>
    <%= @archivment.name %>
  </p>
      
  <p>
    <b>Kategorie:</b>
    <%= @archivment.category %>
  </p>
      
  <p>
    <b>Bedingungen:</b>
    <%= @archivment.terms %>
  </p>
      
  <p>
    <b>Beispiel Link:</b>
    <%= @archivment.example_link %>
  </p>
      
  <p>
    <b>Punkte:</b>
    <%= @archivment.points %>
  </p>

  <div id="archiv-image">
    <% if @userarchivment && @userarchivment.image.present? %>
      <p>
        <b>Dein Bild zum Erfolg:</b>
        <div>
          <%= image_tag @userarchivment.image_url(:thumb) %>
        </div>
      </p>
    <% end %>
  </div>

  <div id="raitings">
    <%= render :partial => "stream/ratings", :locals => { :vote => @vote } %>
  </div>

</div>

<div class="profil-footer">
</div>
