<% title "Profilseite" %>

<div class="profil-header">
  <%= image_tag("http://graph.facebook.com/#{@user.username}/picture", :height => '50', :width => '50') %>
  <h1><%= @user.first_name + ", " %> <br>
  <%= @user.last_name %></h1>
</div>

<hr>

<div class="profil-basics">
	<h2>Punkte: <%= @points %></h2>
</div>

<div class="profil-footer">
</div>

<hr>

<div class="profil-archivments">
  <%= render :partial => "user/archiv_done" %>
  <%= render :partial => "user/archiv_recommended" %>
</div>
