<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>Es wurden <%= @category.errors.count %> fehler gefunden:</h2>
      <ul>
      <% @category.errors.each do |attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Speichern" %>
  </div>
<% end %>
